;; graph.edn — 힣의 어휘 연결체
;; 트리플: 857개
;; 다의어 정리: 2026-03-16

[
 ["보편" :trans "universal"]
 ["보편" :trans "universalism"]
 ["특수" :trans "particular"]
 ["특수" :trans "special"]
 ["범용" :trans "general-purpose"]
 ["범용" :trans "general"]
 ["특이" :trans "singularity"]
 ["특이" :trans "singular"]
 ["보편" :opposite "특수"]
 ["특수" :opposite "보편"]
 ["범용" :opposite "특이"]
 ["특이" :opposite "범용"]
 ["보편" :related "범용"]
 ["범용" :related "보편"]
 ["특수" :related "특이"]
 ["특이" :related "특수"]
 ["보편" :related "파이데이아"]
 ["파이데이아" :related "보편"]
 ["파이데이아" :trans "paideia"]
 ["보편" :related "보편학"]
 ["보편학" :related "보편"]
 ["보편학" :trans "universalism"]
 ["보편" :broader "추상"]
 ["추상" :trans "abstraction"]
 ["특수" :broader "구체"]
 ["구체" :trans "concretization"]
 ["보편" :domain "syntopicon"]
 ["특수" :domain "syntopicon"]
 ["보편" :source "20250424T233558"]
 ["도피" :trans "escape"]
 ["도피" :trans "flight"]
 ["회피" :trans "avoidance"]
 ["회피" :trans "evasion"]
 ["탈출" :trans "escape"]
 ["후퇴" :trans "withdrawal"]
 ["은둔" :trans "reclusion"]
 ["은둔" :trans "withdrawal"]
 ["탈주" :trans "desertion"]
 ["도주" :trans "flee"]
 ["우회" :trans "detour"]
 ["우회" :trans "bypass"]
 ["도피" :synonym "회피"]
 ["회피" :synonym "도피"]
 ["도피" :synonym "탈출"]
 ["탈출" :synonym "도피"]
 ["탈주" :synonym "도주"]
 ["도주" :synonym "탈주"]
 ["후퇴" :related "은둔"]
 ["은둔" :related "후퇴"]
 ["도피" :source "20240520T150914"]
 ["고요" :trans "serenity"]
 ["고요" :trans "silence"]
 ["이완" :trans "relaxation"]
 ["멈춤" :trans "pause"]
 ["멈춤" :trans "stillness"]
 ["한가" :trans "leisure"]
 ["심심" :trans "boredom"]
 ["내면" :trans "inner"]
 ["침묵" :trans "silence"]
 ["평온" :trans "tranquility"]
 ["충만" :trans "fulfillment"]
 ["고요" :synonym "침묵"]
 ["침묵" :synonym "고요"]
 ["고요" :synonym "조용"]
 ["조용" :synonym "고요"]
 ["고요" :related "평온"]
 ["평온" :related "고요"]
 ["한가" :related "심심"]
 ["심심" :related "한가"]
 ["이완" :related "멈춤"]
 ["멈춤" :related "이완"]
 ["충만" :opposite "심심"]
 ["심심" :opposite "충만"]
 ["고요" :related "톨레"]
 ["톨레" :related "고요"]
 ["톨레" :trans "eckharttolle"]
 ["심심" :related "벤야민"]
 ["벤야민" :related "심심"]
 ["벤야민" :trans "walterbenjamin"]
 ["심심" :related "호모오티오수스"]
 ["호모오티오수스" :related "심심"]
 ["고요" :source "20250518T142011"]
 ["소통" :trans "communication"]
 ["불통" :trans "miscommunication"]
 ["대화" :trans "dialogue"]
 ["대화" :trans "discourse"]
 ["숙론" :trans "deliberation"]
 ["대담" :trans "interview"]
 ["면담" :trans "interview"]
 ["면담" :trans "meeting"]
 ["공감" :trans "empathy"]
 ["소통" :opposite "불통"]
 ["불통" :opposite "소통"]
 ["대화" :synonym "대담"]
 ["대담" :synonym "대화"]
 ["대담" :related "면담"]
 ["면담" :related "대담"]
 ["소통" :related "공감"]
 ["공감" :related "소통"]
 ["소통" :source "20241006T081807"]
 ["가설" :trans "hypothesis"]
 ["가족" :trans "family"]
 ["감각" :trans "sense"]
 ["감사" :trans "gratitude"]
 ["감정" :trans "emotion"]
 ["경험" :trans "experience"]
 ["공간" :trans "space"]
 ["과두제" :trans "oligarchy"]
 ["과학" :trans "science"]
 ["관계" :trans "relation"]
 ["관습 및 관례" :trans "customandconvention"]
 ["관습" :trans "custom"]
 ["관례" :trans "convention"]
 ["교육" :trans "education"]
 ["국가" :trans "state"]
 ["군주제" :trans "monarchy"]
 ["귀납법" :trans "induction"]
 ["귀족" :trans "aristocracy"]
 ["기억과 상상" :trans "memoryandimagination"]
 ["기억" :trans "memory"]
 ["상상" :trans "imagination"]
 ["기호와 상징" :trans "signandsymbol"]
 ["기호" :trans "sign"]
 ["상징" :trans "symbol"]
 ["노동" :trans "labor"]
 ["노예 제도" :trans "slavery"]
 ["논리" :trans "logic"]
 ["동물" :trans "animal"]
 ["동일함과 다름" :trans "sameandother"]
 ["동일" :trans "same"]
 ["다름" :trans "other"]
 ["명예" :trans "honor"]
 ["무한" :trans "infinity"]
 ["물리학" :trans "physics"]
 ["물질" :trans "matter"]
 ["미덕과 악덕" :trans "virtueandvice"]
 ["미덕" :trans "virtue"]
 ["악덕" :trans "vice"]
 ["민주주의" :trans "democracy"]
 ["반대" :trans "opposition"]
 ["법" :trans "law"]
 ["변증법" :trans "dialectic"]
 ["변화" :trans "change"]
 ["보편과 특수" :trans "universalandparticular"]
 ["부" :trans "wealth"]
 ["불멸" :trans "immortality"]
 ["사랑" :trans "love"]
 ["삶과 죽음" :trans "lifeanddeath"]
 ["삶" :trans "life"]
 ["죽음" :trans "death"]
 ["선과 악" :trans "goodandevil"]
 ["선" :trans "good"]
 ["악" :trans "evil"]
 ["세계" :trans "world"]
 ["수량" :trans "quantity"]
 ["수사학" :trans "rhetoric"]
 ["수학" :trans "mathematics"]
 ["습관" :trans "habit"]
 ["시" :trans "poetry"]
 ["시간" :trans "time"]
 ["시민" :trans "citizen"]
 ["신" :trans "god"]
 ["신중" :trans "prudence"]
 ["신학" :trans "theology"]
 ["아름다움" :trans "beauty"]
 ["아이디어" :trans "idea"]
 ["언어" :trans "language"]
 ["역사" :trans "history"]
 ["역학" :trans "mechanics"]
 ["영원" :trans "eternity"]
 ["영혼" :trans "soul"]
 ["예술" :trans "arts"]
 ["예술" :trans "art"]
 ["예언" :trans "prophecy"]
 ["요소" :trans "element"]
 ["욕망" :trans "desire"]
 ["용기" :trans "courage"]
 ["우연" :trans "chance"]
 ["운명" :trans "fate"]
 ["원리" :trans "principle"]
 ["원인" :trans "cause"]
 ["의견" :trans "opinion"]
 ["의무" :trans "duty"]
 ["의지" :trans "will"]
 ["의학" :trans "medicine"]
 ["인간" :trans "man"]
 ["자산" :trans "property"]
 ["자연" :trans "nature"]
 ["자유" :trans "liberty"]
 ["전쟁과 평화" :trans "warandpeace"]
 ["전쟁" :trans "war"]
 ["평화" :trans "peace"]
 ["절제" :trans "temperance"]
 ["정부" :trans "government"]
 ["정신" :trans "mind"]
 ["정의" :trans "definition"]
 ["정의" :trans "justice"]
 ["존재" :trans "being"]
 ["종교" :trans "religion"]
 ["죄" :trans "sin"]
 ["지식" :trans "knowledge"]
 ["지혜" :trans "wisdom"]
 ["진보" :trans "progress"]
 ["진실" :trans "truth"]
 ["진화" :trans "evolution"]
 ["처벌" :trans "punishment"]
 ["천문학" :trans "astronomy"]
 ["천사" :trans "angel"]
 ["철학" :trans "philosophy"]
 ["추론" :trans "reasoning"]
 ["추론 사유" :trans "reasoning"]
 ["쾌락과 고통" :trans "pleasureandpain"]
 ["쾌락" :trans "pleasure"]
 ["고통" :trans "pain"]
 ["판단" :trans "judgment"]
 ["평등" :trans "equality"]
 ["폭정과 독재" :trans "tyrannyanddespotism"]
 ["폭정" :trans "tyranny"]
 ["독재" :trans "despotism"]
 ["품질" :trans "quality"]
 ["필연성과 우연성" :trans "necessityandcontingency"]
 ["필연성" :trans "necessity"]
 ["우연성" :trans "contingency"]
 ["하나와 다수" :trans "oneandmany"]
 ["하나" :trans "one"]
 ["다수" :trans "many"]
 ["행복" :trans "happiness"]
 ["헌법" :trans "constitution"]
 ["혁명" :trans "revolution"]
 ["협력 (인간)" :trans "cooperation"]
 ["형식" :trans "form"]
 ["형이상학" :trans "metaphysics"]
 ["형태" :trans "form"]
 ["가상" :trans "virtual"]
 ["가상 현실" :trans "virtualreality"]
 ["가상 현실" :trans "virtual"]
 ["가상 현실" :trans "reality"]
 ["가상화" :trans "virtualization"]
 ["강화학습" :trans "reinforcementlearning"]
 ["강화학습" :trans "reinforcement"]
 ["강화학습" :trans "learning"]
 ["계산가능한" :trans "computational"]
 ["과학혁명" :trans "scientificrevolution"]
 ["과학혁명" :trans "scientific"]
 ["과학혁명" :trans "revolution"]
 ["관리" :trans "management"]
 ["구루" :trans "guru"]
 ["구루" :trans "architect"]
 ["구성주의" :trans "constructionism"]
 ["구체적인 특별한" :trans "specific"]
 ["국제화" :trans "internationalization"]
 ["그놈" :trans "gnome"]
 ["금융" :trans "finance"]
 ["급여" :trans "pay"]
 ["네트워크" :trans "network"]
 ["데브옵스" :trans "devops"]
 ["데코레이터" :trans "decorator"]
 ["도피 회피 탈출" :trans "escape"]
 ["디지털 디지탈" :trans "digital"]
 ["랭체인" :trans "langchain"]
 ["레버리지" :trans "leverage"]
 ["로고" :trans "logo"]
 ["로봇" :trans "robot"]
 ["르상티망" :trans "ressentiment"]
 ["매뉴얼" :trans "manual"]
 ["매니저" :trans "manager"]
 ["모호함" :trans "vagueness"]
 ["문화" :trans "culture"]
 ["미래" :trans "future"]
 ["반생산성" :trans "anti"]
 ["버전" :trans "version"]
 ["벤치마크" :trans "benchmark"]
 ["별" :trans "stars"]
 ["보카" :trans "vocabulary"]
 ["복식부기" :trans "doubleentryaccounting"]
 ["복식부기" :trans "accounting"]
 ["복식부기" :trans "double"]
 ["비폭력대화" :trans "nonviolentcommunication"]
 ["비폭력대화" :trans "nonviolent"]
 ["비폭력대화" :trans "communication"]
 ["신토피콘" :trans "syntopicon"]
 ["업모닝" :trans "upmorning"]
 ["업위크" :trans "upweek"]
 ["에이전트" :trans "agent"]
 ["온보딩" :trans "onboarding"]
 ["완화하다  alleviate, relieve, mitigate, assuage" :trans "assuage"]
 ["완화하다  alleviate, relieve, mitigate, assuage" :trans "relieve"]
 ["완화하다  alleviate, relieve, mitigate, assuage" :trans "mitigate"]
 ["완화하다 relieve, mitigate, assuage" :trans "alleviate"]
 ["용어" :trans "terms"]
 ["용어" :trans "glossary"]
 ["월급" :trans "salary"]
 ["위대한 저서" :trans "greatbooks"]
 ["유닉스" :trans "unix"]
 ["유사생산성" :trans "pseudo"]
 ["이더넷" :trans "ethernet"]
 ["인지" :trans "cognition"]
 ["인프라" :trans "infrastructure"]
 ["일당" :trans "wage"]
 ["일상" :trans "daily"]
 ["자기표현주의" :trans "self"]
 ["자료" :trans "materials"]
 ["작업기록 워크로그 작업로그" :trans "worklog"]
 ["장부" :trans "ledger"]
 ["재현성" :trans "reproducibility"]
 ["정상과학" :trans "normalscience"]
 ["정상과학" :trans "normal"]
 ["정상과학" :trans "science"]
 ["책임감" :trans "accountability"]
 ["치트시트" :trans "cheatsheet"]
 ["커피" :trans "coffee"]
 ["컴퓨팅 사고력" :trans "computationalthinking"]
 ["컴퓨팅 사고력" :trans "computational"]
 ["컴퓨팅 사고력" :trans "thinking"]
 ["클러스터" :trans "clusters"]
 ["테트리스" :trans "tetris"]
 ["투야" :trans "tuya"]
 ["투야 중국 제조사" :trans "tuya"]
 ["팁" :trans "tips"]
 ["파이데이아 제안" :trans "paideiaproposal"]
 ["파이데이아 제안" :trans "paideia"]
 ["파이데이아 제안" :trans "proposal"]
 ["판단력" :trans "judgement"]
 ["패러다임" :trans "paradigm"]
 ["패러다임 전환" :trans "paradigmshift"]
 ["패러다임 전환" :trans "paradigm"]
 ["패러다임 전환" :trans "shift"]
 ["퍼셉트론" :trans "perceptron"]
 ["페르소나" :trans "persona"]
 ["페어 쌍" :trans "pair"]
 ["포멧" :trans "format"]
 ["폰트" :trans "fonts"]
 ["프레임워크" :trans "framework"]
 ["하드웨어" :trans "hardware"]
 ["하모니카" :trans "hamonikr"]
 ["하이퍼파라미터" :trans "hyperparameter"]
 ["항존주의" :trans "perennialism"]
 ["혁신" :trans "inovation"]
 ["현지화" :trans "localization"]
 ["회계" :trans "accounting"]
 ["회색돌 기법" :trans "greyrocktechnique"]
 ["휴머노이드" :trans "humanoid"]
 ["가설" :source "20250424T225603"]
 ["가정" :source "20250424T225005"]
 ["가족" :source "20250424T225005"]
 ["감각" :source "20250424T232934"]
 ["감정" :source "20250424T224716"]
 ["결혼" :source "20250424T225005"]
 ["경쟁" :source "20250424T231845"]
 ["경험" :source "20250424T224933"]
 ["고통" :source "20250424T232042"]
 ["공간" :source "20250424T233209"]
 ["공감" :source "20250602T161023"]
 ["공단" :source "20250523T142240"]
 ["공평" :source "20250424T233957"]
 ["과두정치" :source "20250424T231237"]
 ["과학" :source "20250424T232904"]
 ["과학" :source "20250428T160822"]
 ["관계" :source "20250424T232600"]
 ["관념" :source "20250424T225643"]
 ["관련" :source "20250424T232600"]
 ["관례" :source "20250424T224113"]
 ["관습" :source "20250424T224113"]
 ["관측" :source "20250424T150711"]
 ["교육" :source "20250424T224537"]
 ["교차점" :source "20250518T231546"]
 ["구분" :source "20250422T130749"]
 ["구원" :source "20250424T232629"]
 ["구조화" :source "20250422T130749"]
 ["국가" :source "20250424T233236"]
 ["국민" :source "20250424T233236"]
 ["군주제" :source "20250424T231032"]
 ["궁리" :source "20250424T225643"]
 ["권력" :source "20250424T234027"]
 ["권위" :source "20250424T234027"]
 ["귀납법" :source "20250424T225800"]
 ["귀족" :source "20250424T150420"]
 ["기쁨" :source "20250424T225418"]
 ["기술" :source "20250424T143631"]
 ["기억" :source "20250424T230851"]
 ["기호와상징" :source "20250424T233015"]
 ["꿈" :source "20250424T230851"]
 ["나누" :source "20250422T130749"]
 ["노동" :source "20250424T230059"]
 ["노예제" :source "20250424T233114"]
 ["논리" :source "20250424T230403"]
 ["논리학" :source "20250428T160623"]
 ["눈물" :source "20250602T161023"]
 ["덕" :source "20250424T233629"]
 ["데이비드" :source "20250522T172237"]
 ["도덕" :source "20250424T233629"]
 ["도서관" :source "20240713T225339"]
 ["도우미" :source "20250512T132547"]
 ["돈" :source "20250424T233735"]
 ["동기" :source "20250424T224716"]
 ["동기" :source "20250424T224323"]
 ["동물" :source "20250424T150315"]
 ["동조" :source "20250602T161023"]
 ["마음" :source "20250424T231001"]
 ["만족" :source "20250424T225418"]
 ["메타" :source "20241027T210006"]
 ["메타지식" :source "20250420T173447"]
 ["명성" :source "20250424T234027"]
 ["명예" :source "20250424T225530"]
 ["무명" :source "20250424T234027"]
 ["무한" :source "20250424T225833"]
 ["물리학" :source "20250424T231955"]
 ["물질" :source "20250424T230651"]
 ["물질" :source "20250424T142939"]
 ["민주주의" :source "20250424T224238"]
 ["믿음" :source "20250424T232629"]
 ["바람" :source "20241025T103227"]
 ["바램" :source "20241025T103227"]
 ["바우하우스" :source "20250518T231546"]
 ["반대" :source "20250424T231845"]
 ["발상" :source "20250424T225643"]
 ["범용" :source "20250424T233558"]
 ["법" :source "20250424T230205"]
 ["변증법" :source "20250424T224418"]
 ["변화" :source "20250424T153811"]
 ["별자리" :source "20250424T150711"]
 ["보육" :source "20250508T103021"]
 ["봉건" :source "20250424T150420"]
 ["부" :source "20250424T233735"]
 ["부부" :source "20250424T225005"]
 ["분류체계" :source "20250422T130749"]
 ["분야" :source "20250422T130749"]
 ["불멸" :source "20250424T225720"]
 ["비서" :source "20250512T132547"]
 ["사고" :source "20250424T225643"]
 ["사람" :source "20250424T230543"]
 ["사랑" :source "20250424T230445"]
 ["사멸" :source "20250424T230329"]
 ["사명" :source "20250424T225036"]
 ["사유" :source "20250424T225643"]
 ["산업단지" :source "20250523T142240"]
 ["상상" :source "20250424T230851"]
 ["생각" :source "20250424T225643"]
 ["생명" :source "20250424T143231"]
 ["생물학" :source "20250424T150315"]
 ["생사" :source "20250424T230329"]
 ["생태학" :source "20250424T150315"]
 ["선" :source "20250424T225243"]
 ["세계" :source "20250424T233923"]
 ["셀럽" :source "20250424T234027"]
 ["소멸" :source "20250424T230329"]
 ["소명" :source "20250424T225036"]
 ["수사학" :source "20250424T232729"]
 ["수학" :source "20250428T160744"]
 ["수학" :source "20250424T230622"]
 ["슬픔" :source "20250602T161023"]
 ["습관" :source "20250424T225346"]
 ["시" :source "20250424T232116"]
 ["시간" :source "20250424T233409"]
 ["시민" :source "20250424T223823"]
 ["신" :source "20250424T225155"]
 ["신분" :source "20250424T150420"]
 ["신앙" :source "20250424T232629"]
 ["신중함" :source "20250424T232316"]
 ["신토피콘" :source "20250421T125513"]
 ["신학" :source "20250424T233344"]
 ["아동" :source "20250508T103021"]
 ["아름다움" :source "20250424T150809"]
 ["아이디어" :source "20250424T225643"]
 ["악" :source "20250424T225243"]
 ["악덕" :source "20250424T233629"]
 ["양" :source "20250424T232502"]
 ["어린이" :source "20250508T103021"]
 ["언어" :source "20250424T230131"]
 ["에너지" :source "20250424T142939"]
 ["에이전트" :source "20250512T132547"]
 ["에이전틱" :source "20250512T132547"]
 ["역사" :source "20250428T160921"]
 ["역사" :source "20250424T143807"]
 ["역사" :source "20250424T225500"]
 ["역학" :source "20250424T230727"]
 ["연관" :source "20250424T232600"]
 ["연민" :source "20250602T161023"]
 ["열정" :source "20250424T224009"]
 ["영원" :source "20250424T224802"]
 ["영혼" :source "20250424T233144"]
 ["예술" :source "20250424T143504"]
 ["예술" :source "20240822T135953"]
 ["예언" :source "20250424T232246"]
 ["요소" :source "20250424T224615"]
 ["욕구" :source "20250424T224323"]
 ["욕망" :source "20250424T224323"]
 ["용기" :source "20250424T224009"]
 ["우연" :source "20250424T153233"]
 ["우연성" :source "20250424T231206"]
 ["우주" :source "20250424T150711"]
 ["운명" :source "20250424T225036"]
 ["원인" :source "20250424T153141"]
 ["원칙" :source "20250424T232145"]
 ["웰빙" :source "20250424T225418"]
 ["유명" :source "20250424T234027"]
 ["유한" :source "20250424T225833"]
 ["육아" :source "20250508T103021"]
 ["윤리" :source "20250424T225243"]
 ["의견" :source "20250424T231813"]
 ["의무" :source "20250424T224502"]
 ["의지" :source "20250424T233820"]
 ["의학" :source "20250424T230803"]
 ["이즘" :source "20250424T231715"]
 ["인간" :source "20250424T230543"]
 ["인기" :source "20250424T234027"]
 ["인문학" :source "20250428T160921"]
 ["일자리" :source "20250424T230059"]
 ["자각몽" :source "20250424T230851"]
 ["자산" :source "20250424T233735"]
 ["자연" :source "20250424T231114"]
 ["자유" :source "20250424T230235"]
 ["재료" :source "20250424T230651"]
 ["전쟁" :source "20250424T233704"]
 ["전제정치" :source "20250424T233520"]
 ["절제" :source "20250424T233317"]
 ["정권" :source "20250424T225317"]
 ["정부" :source "20250424T225317"]
 ["정의" :source "20250424T225952"]
 ["정의" :source "20250424T224153"]
 ["존재" :source "20250424T153114"]
 ["종교" :source "20250424T232629"]
 ["종교" :source "20250424T143717"]
 ["죄" :source "20250424T233044"]
 ["주권" :source "20250424T233236"]
 ["주의" :source "20250424T231715"]
 ["죽음" :source "20250424T230329"]
 ["즐거움" :source "20250424T225418"]
 ["지구" :source "20250424T143134"]
 ["지식" :source "20250424T230029"]
 ["지식관리" :source "20250428T161049"]
 ["지식보존" :source "20250428T161049"]
 ["지혜" :source "20250424T233854"]
 ["진리" :source "20250424T233441"]
 ["진보" :source "20250424T232215"]
 ["진실" :source "20250424T233441"]
 ["진화" :source "20250424T224852"]
 ["챗봇" :source "20250512T132547"]
 ["처벌" :source "20250424T232352"]
 ["천문학" :source "20250424T150711"]
 ["천사" :source "20250424T150015"]
 ["철학" :source "20250428T160957"]
 ["철학" :source "20250424T231919"]
 ["추론" :source "20250424T232530"]
 ["추억" :source "20250424T230851"]
 ["커스텀" :source "20250424T224113"]
 ["쾌락" :source "20250424T232042"]
 ["택소노미" :source "20250422T130749"]
 ["테크늄" :source "20250508T154607"]
 ["통섭" :source "20250518T231546"]
 ["튜터" :source "20250512T132547"]
 ["특수" :source "20250424T233558"]
 ["특이" :source "20250424T233558"]
 ["판결" :source "20250424T225914"]
 ["평등" :source "20250424T233957"]
 ["평화" :source "20250424T233704"]
 ["폭소노미" :source "20250422T130749"]
 ["폭정" :source "20250424T233520"]
 ["품질" :source "20250424T232423"]
 ["프로피디아" :source "20250420T152816"]
 ["플랫폼" :source "20250515T104712"]
 ["필연성" :source "20250424T231206"]
 ["학파" :source "20250424T231715"]
 ["한국십진분류법" :source "20240312T142358"]
 ["행복" :source "20250424T225418"]
 ["헌법" :source "20250424T223926"]
 ["혁명" :source "20250424T232658"]
 ["형식" :source "20250424T225110"]
 ["형이상학" :source "20250424T230925"]
 ["확증편향" :source "20250424T233441"]
 ["회상" :source "20250424T230851"]
 ["휴먼" :source "20250424T230543"]
 ["희망" :source "20241025T103227"]
 ["관습" :trans "customandconvention"]
 ["관례" :trans "customandconvention"]
 ["관습" :synonym "관례"]
 ["관례" :synonym "관습"]
 ["기억" :synonym "상상"]
 ["상상" :synonym "기억"]
 ["기호" :trans "signandsymbol"]
 ["상징" :trans "signandsymbol"]
 ["기호" :synonym "상징"]
 ["상징" :synonym "기호"]
 ["동일함" :trans "sameandother"]
 ["다름" :trans "sameandother"]
 ["동일함" :synonym "다름"]
 ["다름" :synonym "동일함"]
 ["미덕" :trans "virtueandvice"]
 ["악덕" :trans "virtueandvice"]
 ["미덕" :synonym "악덕"]
 ["악덕" :synonym "미덕"]
 ["보편" :trans "universalandparticular"]
 ["특수" :trans "universalandparticular"]
 ["보편" :synonym "특수"]
 ["특수" :synonym "보편"]
 ["삶" :trans "lifeanddeath"]
 ["죽음" :trans "lifeanddeath"]
 ["삶" :synonym "죽음"]
 ["죽음" :synonym "삶"]
 ["선" :trans "goodandevil"]
 ["악" :trans "goodandevil"]
 ["선" :synonym "악"]
 ["악" :synonym "선"]
 ["전쟁" :trans "warandpeace"]
 ["평화" :trans "warandpeace"]
 ["전쟁" :synonym "평화"]
 ["평화" :synonym "전쟁"]
 ["쾌락" :trans "pleasureandpain"]
 ["고통" :trans "pleasureandpain"]
 ["쾌락" :synonym "고통"]
 ["고통" :synonym "쾌락"]
 ["폭정" :trans "tyrannyanddespotism"]
 ["독재" :trans "tyrannyanddespotism"]
 ["폭정" :synonym "독재"]
 ["독재" :synonym "폭정"]
 ["필연성" :trans "necessityandcontingency"]
 ["우연성" :trans "necessityandcontingency"]
 ["필연성" :synonym "우연성"]
 ["우연성" :synonym "필연성"]
 ["하나" :trans "oneandmany"]
 ["다수" :trans "oneandmany"]
 ["하나" :synonym "다수"]
 ["다수" :synonym "하나"]
 ["같이 사용됩니다" :trans "minutiae"]
 ["가정" :trans "family"]
 ["결혼" :trans "family"]
 ["경쟁" :trans "competition"]
 ["경쟁" :trans "counterforce"]
 ["경쟁" :trans "opposition"]
 ["공단" :trans "park"]
 ["공단" :trans "industries"]
 ["공평" :trans "equality"]
 ["과두정치" :trans "oligarchy"]
 ["관념" :trans "idea"]
 ["관련" :trans "relation"]
 ["관측" :trans "astronomy"]
 ["관측" :trans "cosmos"]
 ["관측" :trans "universe"]
 ["교차점" :trans "intersection"]
 ["교차점" :trans "consilience"]
 ["교차점" :trans "bauhaus"]
 ["구분" :trans "classification"]
 ["구원" :trans "religion"]
 ["구원" :trans "salvation"]
 ["구조화" :trans "organisation"]
 ["구조화" :trans "structure"]
 ["국민" :trans "state"]
 ["궁리" :trans "thinking"]
 ["권력" :trans "power"]
 ["권위" :trans "power"]
 ["기쁨" :trans "delight"]
 ["기쁨" :trans "joy"]
 ["기술" :trans "technology"]
 ["기호와상징" :trans "semiotics"]
 ["기호와상징" :trans "sign"]
 ["기호와상징" :trans "symbol"]
 ["꿈" :trans "dream"]
 ["나누" :trans "classification"]
 ["노예제" :trans "slavery"]
 ["논리학" :trans "applied"]
 ["논리학" :trans "formal"]
 ["논리학" :trans "history"]
 ["논리학" :trans "logic"]
 ["논리학" :trans "philosophy"]
 ["눈물" :trans "sorrow"]
 ["눈물" :trans "tears"]
 ["덕" :trans "virtue"]
 ["덕" :trans "vice"]
 ["덕" :trans "moral"]
 ["데이비드" :trans "david"]
 ["도덕" :trans "virtue"]
 ["도덕" :trans "vice"]
 ["도덕" :trans "moral"]
 ["도서관" :trans "library"]
 ["도서관" :trans "suwon"]
 ["도우미" :trans "assistant"]
 ["돈" :trans "wealth"]
 ["돈" :trans "property"]
 ["돈" :trans "money"]
 ["돈" :trans "asset"]
 ["돈" :trans "management"]
 ["동기" :trans "emotion"]
 ["동기" :trans "desire"]
 ["동기" :trans "motivation"]
 ["동조" :trans "conformity"]
 ["마음" :trans "mind"]
 ["만족" :trans "contentment"]
 ["만족" :trans "satisfaction"]
 ["메타지식" :trans "knowledge"]
 ["명성" :trans "celebrity"]
 ["명성" :trans "fame"]
 ["무명" :trans "obscurity"]
 ["믿음" :trans "religion"]
 ["믿음" :trans "salvation"]
 ["바람" :trans "hope"]
 ["바램" :trans "hope"]
 ["바우하우스" :trans "intersection"]
 ["바우하우스" :trans "consilience"]
 ["바우하우스" :trans "bauhaus"]
 ["발상" :trans "idea"]
 ["별자리" :trans "astronomy"]
 ["별자리" :trans "cosmos"]
 ["별자리" :trans "universe"]
 ["보육" :trans "children"]
 ["보육" :trans "kids"]
 ["봉건" :trans "aristocracy"]
 ["부부" :trans "family"]
 ["분류체계" :trans "classification"]
 ["분류체계" :trans "taxonomy"]
 ["분야" :trans "areas"]
 ["비서" :trans "assistant"]
 ["비서" :trans "secretary"]
 ["사고" :trans "thought"]
 ["사고" :trans "thinking"]
 ["사람" :trans "human"]
 ["사람" :trans "people"]
 ["사람" :trans "person"]
 ["사멸" :trans "death"]
 ["사멸" :trans "life"]
 ["사명" :trans "fate"]
 ["사유" :trans "thought"]
 ["산업단지" :trans "park"]
 ["산업단지" :trans "industries"]
 ["생각" :trans "thought"]
 ["생각" :trans "thinking"]
 ["생명" :trans "biosphere"]
 ["생명" :trans "life"]
 ["생물학" :trans "animal"]
 ["생물학" :trans "biology"]
 ["생물학" :trans "ecologie"]
 ["생물학" :trans "ecosystem"]
 ["생사" :trans "death"]
 ["생사" :trans "life"]
 ["생태학" :trans "animal"]
 ["생태학" :trans "biology"]
 ["생태학" :trans "ecologie"]
 ["생태학" :trans "ecosystem"]
 ["셀럽" :trans "celebrity"]
 ["소멸" :trans "death"]
 ["소멸" :trans "life"]
 ["소명" :trans "fate"]
 ["슬픔" :trans "sorrow"]
 ["신분" :trans "aristocracy"]
 ["신앙" :trans "religion"]
 ["신앙" :trans "salvation"]
 ["신중함" :trans "prudence"]
 ["아동" :trans "children"]
 ["아동" :trans "kids"]
 ["양" :trans "quantity"]
 ["어린이" :trans "children"]
 ["어린이" :trans "kids"]
 ["에너지" :trans "energy"]
 ["에너지" :trans "matter"]
 ["에이전틱" :trans "agents"]
 ["연관" :trans "relation"]
 ["연민" :trans "compassion"]
 ["열정" :trans "courage"]
 ["열정" :trans "passion"]
 ["욕구" :trans "desire"]
 ["욕구" :trans "motivation"]
 ["우주" :trans "astronomy"]
 ["우주" :trans "cosmos"]
 ["우주" :trans "universe"]
 ["원칙" :trans "principle"]
 ["웰빙" :trans "eudaimonia"]
 ["웰빙" :trans "wellbeing"]
 ["유명" :trans "celebrity"]
 ["유명" :trans "fame"]
 ["유한" :trans "infinity"]
 ["유한" :trans "finite"]
 ["육아" :trans "children"]
 ["육아" :trans "kids"]
 ["윤리" :trans "ethics"]
 ["윤리" :trans "evil"]
 ["윤리" :trans "good"]
 ["이즘" :trans "isms"]
 ["인기" :trans "fame"]
 ["인기" :trans "popularity"]
 ["인문학" :trans "humanity"]
 ["인문학" :trans "history"]
 ["일자리" :trans "labor"]
 ["자각몽" :trans "dream"]
 ["자각몽" :trans "luciddream"]
 ["재료" :trans "matter"]
 ["전제정치" :trans "despotism"]
 ["전제정치" :trans "tyranny"]
 ["정권" :trans "government"]
 ["주권" :trans "state"]
 ["주의" :trans "isms"]
 ["즐거움" :trans "delight"]
 ["즐거움" :trans "joy"]
 ["지구" :trans "earth"]
 ["지구" :trans "cosmos"]
 ["지구" :trans "universe"]
 ["지식관리" :trans "preservation"]
 ["지식관리" :trans "knowledge"]
 ["지식보존" :trans "preservation"]
 ["지식보존" :trans "knowledge"]
 ["진리" :trans "truth"]
 ["챗봇" :trans "chatbot"]
 ["추억" :trans "memory"]
 ["추억" :trans "recollection"]
 ["추억" :trans "reminisce"]
 ["커스텀" :trans "custom"]
 ["커스텀" :trans "convention"]
 ["택소노미" :trans "taxonomy"]
 ["테크늄" :trans "technium"]
 ["테크늄" :trans "technology"]
 ["통섭" :trans "intersection"]
 ["통섭" :trans "consilience"]
 ["통섭" :trans "bauhaus"]
 ["튜터" :trans "tutors"]
 ["판결" :trans "judgement"]
 ["폭소노미" :trans "folksonomy"]
 ["프로피디아" :trans "britannica"]
 ["프로피디아" :trans "encyclopedia"]
 ["프로피디아" :trans "knowledge"]
 ["프로피디아" :trans "outline"]
 ["플랫폼" :trans "ecosystem"]
 ["플랫폼" :trans "platform"]
 ["학파" :trans "isms"]
 ["한국십진분류법" :trans "classification"]
 ["한국십진분류법" :trans "kdc"]
 ["확증편향" :trans "truth"]
 ["회상" :trans "recall"]
 ["회상" :trans "recollection"]
 ["회상" :trans "reminisce"]
 ["휴먼" :trans "human"]
 ["휴먼" :trans "people"]
 ["휴먼" :trans "person"]
 ["희망" :trans "hope"]
 ["발상" :trans "inspiration"]
 ["사유" :trans "contemplation"]
 ["분야" :trans "field"]
 ["분야" :trans "discipline"]
 ["동조" :trans "sympathy"]
 ["관념" :trans "notion"]
 ["나누" :trans "division"]
 ["수행" :trans "practice"]
 ["수행" :trans "performance"]
 ["행복" :trans "eudaimonia"]
 ["행복" :trans "bliss"]
 ["형태" :trans "shape"]
 ["기억" :trans "recall"]
 ["권위" :trans "authority"]
 ["기술" :trans "technique"]
 ["기술" :trans "art"]
 ["바램" :trans "wish"]
 ["에이전틱" :trans "agentic"]
 ["궁리" :trans "deliberation"]
 ["슬픔" :trans "grief"]
 ["즐거움" :trans "pleasure"]
 ["구분" :trans "distinction"]
 ["바람" :trans "wish"]
 ["메타지식" :trans "metaknowledge"]
 ["권력" :trans "authority"]
 ["연민" :trans "empathy"]
]
